{% extends "base.html" %}
{% block title %}HEATMAP{% endblock %}


{% block content %} 
<form action="#" method="post">
    <p>name of columns:</p>
    <p><input type="text" name="nm"></p>
    <p>name of rows:</p>
    <p><input type="text" name="nm1"></p>
    <p>x axis number</p>
    <p><input type="text" name="nm2"></p>
    <p>y axis number</p>
    <p><input type="text" name="nm3"></p>
    <p>main number</p>
    <p><input type="text" name="nm4"></p>
    <p><input type="submit" value="submit"></p>

</form>
{% endblock %}
