{% extends "base.html" %}
{% block title %}start Page{% endblock %}


{% block content %} 
<form action="#" method="post">
    <p>name:</p>
    
    <input   class="scrollabletextbox" list="Charts" name="Charts" placeholder=" Charts">
    <p><input type="submit" value="submit"></p> 
              <datalist  id="Charts">


               <option value=" bar chart">
               <option value=" bar3d chart">
               <option value=" pie plot">
               <option value=" Box plot">
               <option value=" Calendar">
               <option value=" EffectScatter">
               <option value=" Funnel">
               <option value=" Gauge">
               <option value=" Graph">
               <option value=" HeatMap">
               <option value=" Kline">
               <option value=" line"> 
               <option value=" line3d"> 
               <option value=" Liquid"> 
               <option value=" Parallel"> 
               <option value=" PictorialBar"> 
               <option value=" Polar"> 
               <option value=" Radar"> 
               <option value=" Scatter"> 
               <option value=" Scatter3D"> 
               <option value=" WordCloud"> 




                





                


               
                




                





               </p> 

    


</form>
{% endblock %}
